In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import warnings
from urllib3.exceptions import InsecureRequestWarning

# Suppress warnings
warnings.simplefilter("ignore", InsecureRequestWarning)
warnings.simplefilter("ignore", FutureWarning)

In [2]:
# Urls to fetch data from 
urls = [
    "https://statistics.kilimo.go.ke/en/KenyafarmingHH/",
    "https://statistics.kilimo.go.ke/en/2_2/",
    "https://statistics.kilimo.go.ke/en/1_3/",
    "https://statistics.kilimo.go.ke/en/2_3a/",
    "https://statistics.kilimo.go.ke/en/2_3c/",
    "https://statistics.kilimo.go.ke/en/1_7/"
]

# Dictionary to store DataFrames
dfs = {}

# Loop through each URL and store the DataFrames
for i, url in enumerate(urls, start=1):
    # Request the webpage content, ignoring SSL verification
    response = requests.get(url, verify=False)
    
    # Parse the HTML
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table
    table = soup.find('table')
    
    # Convert the table to a pandas DataFrame
    df = pd.read_html(str(table))[0]
    
    # Store the DataFrame in the dictionary
    dfs[f'df_{i}'] = df

# Drop the first row (row 0) from all DataFrames in the dfs dictionary
for key in dfs:
    dfs[key] = dfs[key].drop(0).reset_index(drop=True)

#### Performing EDA on the fetched Data

#### Converting dataframe names to more meaningful names

In [3]:
# Rename the DataFrames
rename_map = {
    'df_1': 'kenya_farming_households',
    'df_2': 'agricultural_subsector',
    'df_3': 'agriculture_main_purpose',
    'df_4': 'agriculture_crop_main_purpos',
    'df_5': 'livestock_Farming',
    'df_6': 'agriculture_size'
}

- I notices that the dataframes had no county column name or there was some inconsistency.
- I therefore decided to create standard column name for the county column

In [4]:
# Create new variables in the global scope for each renamed DataFrame
for old_name, new_name in rename_map.items():
    globals()[new_name] = dfs[old_name]

for key in dfs:
    # Replace '-' with 'county' and change 'County' to 'county'
    dfs[key].columns = (
        dfs[key].columns.str.replace('-', 'county', regex=False)
                         .str.replace('County', 'county', regex=False)
    )

In [5]:
# Calculate Total Production
agriculture_crop_main_purpos['Total Production'] = agriculture_crop_main_purpos['Subsistence Crop Farming'] + agriculture_crop_main_purpos['Commercial Crop Production']

In [6]:
# Calculate the ratio: Crop Farming Households / Farming Households
agriculture_crop_main_purpos['Crop Farming Ratio'] = agriculture_crop_main_purpos['Crop Farming Households'] / agriculture_crop_main_purpos['Farming Households']

In [7]:
merged_data = agriculture_main_purpose.merge(kenya_farming_households, on='county', suffixes=('', '_households'))\
    .merge(agricultural_subsector, on='county', suffixes=('', '_subsector'))\
    .merge(agriculture_crop_main_purpos, on='county', suffixes=('', '_crop'))\
    .merge(livestock_Farming, on='county', suffixes=('', '_livestock'))\
    .merge(agriculture_size, on='county', suffixes=('', '_size'))

In [8]:
merged_data.head()

,county,Farming Households,Subsistence Farming,Commercial Production,DK,Total,Farming Households_households,Non Farming Households,% of farming Households,Farming Households_subsector,...,1 – 1.99 Acre,2 – 4.99 Acre,5 – 9.99 Acre,10 – 19.99 Acre,20 – 49.99 Acre,50 – 99 Acre,100county499 Acres,500 – 999 Acre,1000+ Acre,Not Stated
0,Mombasa,13171,9891,2176,1104,376212,13171,363041,3.5,13171,...,2280,2877,561,236,86,50,-,-,-,1013
1,Kwale,109040,97816,9788,1436,172767,109040,63727,63.1,109040,...,18299,46609,19716,8767,3329,722,15,1,-,1236
2,Kilifi,162648,149648,10890,2110,297935,162648,135287,54.6,162648,...,46821,74081,13464,4335,1344,297,14,2,3,1903
3,Tana River,34989,29089,5153,747,66964,34989,31975,52.3,34989,...,6259,12821,3619,1714,572,323,9,1,6,447
4,Lamu,20254,13614,4947,1693,34223,20254,13969,59.2,20254,...,2870,6573,3655,2128,472,26,6,-,1,1636

#### Dropping Columns that will not be utilized in the analysis

In [9]:
# List of columns to drop
columns_to_drop = [
    'DK Farming Households', 
    'Non Farming Households', 
    'Farming Households_subsector', 
    'Farming Households_crop', 
    'DK_crop',  
    'DK_livestock', 
    'Total_size', 
    'Not Stated',  
    '1000+ Acre',  
    '100county499 Acres', 
    '500 – 999 Acre', 
    'Livestock Farming Households_livestock', 
    'Farming Households_households',
    'Farming Households_livestock',
    'Crop Farming Households_crop',
    'DK',
    'Total',
    'Crop Farming Ratio',
]

# Dropping the specified columns
merged_data = merged_data.drop(columns=columns_to_drop, errors='ignore')

#### Checking for missing Values

In [10]:
merged_data.isnull().sum()

county                             0
Farming Households                 0
Subsistence Farming                0
Commercial Production              0
% of farming Households            0
Crop Farming Households            0
Livestock Farming Households       0
Aquaculture Households             0
Fishing Households                 0
Subsistence Crop Farming           0
Commercial Crop Production         0
Total Production                   0
Subsistence Livestock Farming      0
Commercial Livestock Production    0
Less than 1 Acre                   0
1 – 1.99 Acre                      0
2 – 4.99 Acre                      0
5 – 9.99 Acre                      0
10 – 19.99 Acre                    0
20 – 49.99 Acre                    0
50 – 99 Acre                       0
dtype: int64

#### NOTE: 
- After conducting EDA and checking for null/missing Values, noticed that there was no much cleaning to perform other than standardizing and droping unnecessary columns

In [11]:
pd.set_option('display.max_columns', None)
merged_data.head()

,county,Farming Households,Subsistence Farming,Commercial Production,% of farming Households,Crop Farming Households,Livestock Farming Households,Aquaculture Households,Fishing Households,Subsistence Crop Farming,Commercial Crop Production,Total Production,Subsistence Livestock Farming,Commercial Livestock Production,Less than 1 Acre,1 – 1.99 Acre,2 – 4.99 Acre,5 – 9.99 Acre,10 – 19.99 Acre,20 – 49.99 Acre,50 – 99 Acre
0,Mombasa,13171,9891,2176,3.5,7207,8225,93,1409,6239,954,7193,6465,1704,6068,2280,2877,561,236,86,50
1,Kwale,109040,97816,9788,63.1,100010,70211,212,4452,90652,9278,99930,63266,6798,10346,18299,46609,19716,8767,3329,722
2,Kilifi,162648,149648,10890,54.6,149324,97900,360,6393,139438,9802,149240,89873,7902,20384,46821,74081,13464,4335,1344,297
3,Tana River,34989,29089,5153,52.3,16716,26182,207,2136,12207,4494,16701,23152,2746,9218,6259,12821,3619,1714,572,323
4,Lamu,20254,13614,4947,59.2,15195,13144,63,3162,10561,4624,15185,9744,3356,2887,2870,6573,3655,2128,472,26

In [12]:
county_data = pd.read_excel('county_data.xlsx')
county_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   County                        47 non-null     object
 1   Average Yearly Rainfall (mm)  47 non-null     object
 2   Average Temperature (°C)      47 non-null     int64
 3   Farm Size (ha)                47 non-null     int64
 4   Dominant Crop                 47 non-null     object
 5   Other Crops                   47 non-null     object
 6   Location                      47 non-null     object
 7   Farming Practices             47 non-null     object
dtypes: int64(2), object(6)
memory usage: 3.1+ KB

In [13]:
county_data[county_data['County'] == 'Kakamega']

,County,Average Yearly Rainfall (mm),Average Temperature (°C),Farm Size (ha),Dominant Crop,Other Crops,Location,Farming Practices
10,Kakamega,"1,900",23,2,Sugarcane,"maize, dairy",Western,"Crop rotation, intercropping"

In [14]:
# Convert necessary columns to numeric
# Remove commas from the 'Average Yearly Rainfall (mm)' column
county_data['Average Yearly Rainfall (mm)'] = county_data['Average Yearly Rainfall (mm)'].str.replace(',', '')

# Now convert the cleaned column to numeric
county_data['Average Yearly Rainfall (mm)'] = pd.to_numeric(county_data['Average Yearly Rainfall (mm)'], errors='coerce')

In [15]:
def categorize_risks(row):
    # Climate Risk
    if row['Average Yearly Rainfall (mm)'] < 750 or row['Average Temperature (°C)'] > 28:
        climate_risk = "High"
    elif row['Average Yearly Rainfall (mm)'] < 1000 or row['Average Temperature (°C)'] > 24:
        climate_risk = "Moderate"
    else:
        climate_risk = "Low"

    # Financial Risk
    high_risk_crops = ['Livestock', 'Fishing']
    if row['Farm Size (ha)'] < 2 or any(crop in row['Dominant Crop'] for crop in high_risk_crops):
        financial_risk = "High"
    elif row['Farm Size (ha)'] < 3 or any(crop in row['Other Crops'] for crop in high_risk_crops):
        financial_risk = "Moderate"
    else:
        financial_risk = "Low"

    # Market Risk
    market_dependent_crops = ['Livestock','Dairy', 'Fishing']  # crops with market challenges
    if any(crop in row['Dominant Crop'] for crop in market_dependent_crops):
        market_risk = "High"
    elif any(crop in row['Other Crops'] for crop in market_dependent_crops):
        market_risk = "Moderate"
    else:
        market_risk = "Low"

    return pd.Series([climate_risk, financial_risk, market_risk], index=['Climate Risk', 'Financial Risk', 'Market Risk'])

# Apply the function to your dataframe
county_data[['Climate Risk', 'Financial Risk', 'Market Risk']] = county_data.apply(categorize_risks, axis=1)

In [16]:
 # Function to determine overall risk level based on individual risks
def determine_overall_risk(row):
    if 'High' in [row['Climate Risk'], row['Financial Risk'], row['Market Risk']]:
        return 'High'
    elif 'Moderate' in [row['Climate Risk'], row['Financial Risk'], row['Market Risk']]:
        return 'Moderate'
    else:
        return 'Low'

# Apply the function to determine overall risk level
county_data['Risk Level'] = county_data.apply(determine_overall_risk, axis=1)

In [17]:
county_data.rename(columns={'County': 'county'}, inplace=True)

In [18]:
merged_data['county'] = merged_data['county'].replace({"Murang'a": "Muranga", "Nairobi City": "Nairobi", "Kakamega" : "Kakamega"})
county_data['county'] = county_data['county'].replace({"Murang’a": "Muranga", "Homa Bay": "Homabay", "Kakamega": "Kakamega"})

In [19]:
# Calculate Crop Farming Percentage
merged_data['Crop Farming %'] = (merged_data['Crop Farming Households'] / merged_data['Farming Households']) * 100

In [20]:
merged_data.to_csv('merged_data.csv', index=False)
county_data.to_csv('county_data.csv', index=False)

In [21]:
merged_data.describe()

,Farming Households,Subsistence Farming,Commercial Production,% of farming Households,Crop Farming Households,Livestock Farming Households,Subsistence Crop Farming,Commercial Crop Production,Total Production,Subsistence Livestock Farming,Commercial Livestock Production,Less than 1 Acre,1 – 1.99 Acre,2 – 4.99 Acre,5 – 9.99 Acre,10 – 19.99 Acre,20 – 49.99 Acre,50 – 99 Acre,Crop Farming %
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.00000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000
mean,135325.595745,102884.382979,31464.276596,61.457447,118198.595745,98096.723404,87728.744681,30388.87234,118117.617021,73947.574468,23836.893617,47251.361702,33255.340426,38821.702128,9222.702128,3888.191489,1451.553191,771.574468,76.974837
std,78319.197920,63569.600538,30592.918972,19.132635,82106.987265,52994.836485,66623.147118,30452.99283,82081.865710,42366.430108,23059.020258,38116.381787,22872.571240,25358.681157,7106.627188,4885.683703,2068.874256,1375.212517,28.861536
min,13171.000000,9891.000000,656.000000,2.100000,2461.000000,8225.000000,2007.000000,232.00000,2380.000000,6465.000000,582.000000,2887.000000,1682.000000,2877.000000,561.000000,236.000000,86.000000,26.000000,3.971981
25%,68589.000000,57012.000000,7915.000000,50.200000,47151.500000,60080.500000,34012.000000,7425.50000,47085.500000,43555.500000,6230.000000,17072.500000,15266.500000,19537.000000,4506.500000,1455.000000,451.000000,129.500000,78.598034
50%,139981.000000,92293.000000,17594.000000,67.100000,130573.000000,96507.000000,86724.000000,17139.00000,130556.000000,68773.000000,13324.000000,39626.000000,35964.000000,35105.000000,7653.000000,2434.000000,843.000000,323.000000,92.321213
75%,187232.000000,141170.500000,54631.500000,75.850000,169043.500000,125897.000000,124046.500000,53051.50000,168958.500000,91790.500000,39506.000000,63025.500000,43719.500000,56575.000000,11563.500000,4499.000000,1488.000000,678.000000,94.045521
max,334835.000000,303561.000000,109797.000000,82.100000,321923.000000,228477.000000,291261.000000,108146.00000,321780.000000,204614.000000,81814.000000,154183.000000,88622.000000,105921.000000,35901.000000,30653.000000,12639.000000,7148.000000,96.824564

In [22]:
county_data[county_data['county'] == 'Kakamega']

,county,Average Yearly Rainfall (mm),Average Temperature (°C),Farm Size (ha),Dominant Crop,Other Crops,Location,Farming Practices,Climate Risk,Financial Risk,Market Risk,Risk Level
10,Kakamega,1900,23,2,Sugarcane,"maize, dairy",Western,"Crop rotation, intercropping",Low,Moderate,Low,Moderate

In [23]:
county_data.head()

,county,Average Yearly Rainfall (mm),Average Temperature (°C),Farm Size (ha),Dominant Crop,Other Crops,Location,Farming Practices,Climate Risk,Financial Risk,Market Risk,Risk Level
0,Baringo,850,24,3,Maize,"beans, livestock",Rift Valley,"Mixed farming, agro-pastoralism",Moderate,Low,Low,Moderate
1,Bomet,1350,20,2,Tea,"dairy, maize",Rift Valley,"Small-scale farming, tea plantations",Low,Moderate,Low,Moderate
2,Bungoma,1500,23,2,Sugarcane,"maize, dairy",Western,"Crop rotation, intercropping",Low,Moderate,Low,Moderate
3,Busia,1500,25,2,Maize,"cassava, fishing",Western,"Subsistence farming, fishing",Moderate,Moderate,Low,Moderate
4,Elgeyo-Marakwet,1250,20,3,Dairy,"maize, potatoes",Rift Valley,"Mixed farming, terracing",Low,Low,High,High